th, td.titulo1 {
    padding: 8px;
    margin-bottom: 8px;
    background-color: rgba(63,63,63,0.7);
    color: #ffffff;
	font-size: 55px;
	text-decoration: none;
	color: white;
	font-family: Kingdom Hearts;
}


th, td.posicionuno{
    padding: 8px;
    margin-bottom: 8px;
    background-color: #900404;
    color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	color: white;
	font-family: Showcard Gothic;
}
th, td.posicionuno:hover {
    background-color: #FFA600;

}

th, td.posiciondos{
    padding: 8px;
    margin-bottom: 8px;
    background-color: #900404;
    color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	color: white;
	font-family: Showcard Gothic;
}
th, td.posiciondos:hover {
    background-color: #BA0505;
}

th, td.posiciontres{
    padding: 8px;
    margin-bottom: 8px;
    background-color: #001C55;
    color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	color: white;
	font-family: Showcard Gothic;
}
th, td.posiciontres:hover {
    background-color: #003AAD;
}

th, td.comun{
    padding: 8px;
    margin-bottom: 8px;
    background-color: rgba(63,63,63,0.7);
    color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	color: white;
	font-family: Ravie;
	font-size: 25px;
}
th, td.comun:hover {
    background-color: #919191;
}

table.tabla {
	position: absolute;
    left: 5px;
	
    width: 98%;
	height: 150px;
	padding: 10px;  /* Para controlar el espacio entre el borde y el contenido de una tabla */
	text-align: center; /* left, right, or center */
	border: 1px solid #00394E;
	background-image:url(bg.jpg); 

}

table.tabla :hover{

}	
	

th, td {
	

	padding: 15px;  
	vertical-align: top;      /*top, bottom, or middle */
	border-bottom: 1px solid #00394E;
	
}

tr:nth-child(even){
background-color: #f2f2f2

}

div.demo{
    top: 350px;
    left: 540px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #2F0066;
	height: 20px;
	width: 20px;
	margin: auto;
	text-align: center;

	
}

div.demo1{
    top: 450px;
    left: 540px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #2F0066;
	height: 350px;
	width: 400px;
	margin: auto;
	text-align: center;

	
}

div.demo2{

    top: 540px;
    left: 540px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #2F0066;
	height: 20px;
	width: 20px;
	margin: auto;
	text-align: center;

	
}

div.cerrar{
    top: 2px;
    right: 2px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: Red;
	height: 30px;
	width: 30px;
	margin: auto;
	text-align: center;
	 
}
div.cerrar1{
    top: 2px;
    right: 2px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: Red;
	height: 30px;
	width: 30px;
	margin: auto;
	text-align: center;
	 
}
div.cerrar2{
    top: 2px;
    right: 2px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: Red;
	height: 30px;
	width: 30px;
	margin: auto;
	text-align: center;
	 
}

div.divuno{
  
    height: 100px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #FFB907;
	height: 60px;
	width: 350px;
	margin: auto;
	text-align: center;

}

div.divdos{
  
    height: 100px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #FFB907;
	height: 60px;
	width: 350px;
	margin: auto;
	text-align: center;

}

div.divtres{
  
    height: 100px;
    border-radius: 5px;
	border: 2px solid #3A3A38;
	background-color: #FFB907;
	height: 60px;
	width: 350px;
	margin: auto;
	text-align: center;

}




